<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive">TRINITY STORE</h1>
        <p>Finally, you can order items from the Trinity Store from the comfort of your home.</p>
        <br />
        <p>Get yourself signed up, it's absolutely free.</p>
        <a class="btn btn-success" (click)="signUp()">Sign up</a>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive">TRINITY STORE</h1>
        <p>A host of offers exclusively for Trinity customers.</p>
        <br />
        <p>Get yourself signed up, it's absolutely free.</p>
        <a class="btn btn-success" (click)="signUp()">Sign up</a>
        <br />
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive">TRINITY STORE</h1>
        <p>There's literally no reason not to be a part of it.</p>
        <br />
        <p>Get yourself signed up, it's absolutely free.</p>
        <a class="btn btn-success" (click)="signUp()">Sign up</a>
        <br />
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<br />
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Have any suggestions?</h5>
        <p class="card-text">If you have any feedback on the software, please write to us by clicking the below
          link.</p>
        <a href="mailto:varunram1997@gmail.com" target="_blank" class="btn btn-dark">Send us feedback</a>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="col-sm-1"></div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Review</h5>
        <p class="card-text">Please leave us a review in our comments page. Each review goes a long way.</p>
        <a href="#" class="btn btn-dark">Review</a>
      </div>
    </div>
  </div>
</div>